[user]
  name = Ashton Baker
  email = ashtonsb@umich.edu
[includeIf "gitdir:~/blumira/"]
  path = .gitconfig-blumira
[includeIf "gitdir:~/nwg/"]
  path = .gitconfig-nwg
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore_global
  editor = 'vim'
[alias]
  adog = log --all --decorate --oneline --graph 
  unstage = reset HEAD --
  co = checkout
  s = status
  blu-clone = "!f() { git clone --recurse-submodules git@bitbucket.org:blumira/${1}.git ~/blumira/${1}; }; f"
[merge]
	conflictstyle = diff3
[github]
	user = 
