[user]
  name = Ashton Baker
  email = ashtonsb@umich.edu
[includeIf "gitdir:~/blumira/"]
  path = .gitconfig-blumira
[includeIf "gitdir:~/nwg/"]
  path = .gitconfig-nwg
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore_global
  editor = 'vim'
[alias]
  adog = log --all --decorate --oneline --graph 
  co = checkout
  s = status
[merge]
	conflictstyle = diff3
